@import 'https://use.fontawesome.com/releases/v6.0.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Sulphur Point', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    margin: 0;
}

#linkedin {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
}

#linkedin:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

#github {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
}

#github:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

#cv {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

#cv:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 250ms ease-in-out;
}

#hero {
    min-height: 100vh;
    position: relative;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero .hero__name {
    border-bottom: 4px solid rgb(230, 242, 85);
}

#hero .hero__name__title {
    color: rgb(230, 234, 235);
    font-weight: bold;
    font-size: 7rem;
    margin: 0;
    top: 38%;
    right: 62%;
    position: absolute;
    z-index: 1000;
}

#hero .hero__projects {
    background-color: rgba(24, 24, 32, 0.8);
    color: rgb(230, 234, 235);
    width: 100%;
    list-style-type: none;
    padding: 6rem 0 10rem;
    padding-left: 0;
    border-top: solid 0.125rem rgb(230, 242, 85);

    position: absolute;
    bottom: 0%;
    z-index: 1000;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#hero .hero__projects__container {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}


#hero .hero__projects__container__project {
    width: 18vw;
    background-color: rgb(24, 23, 23);
    color: rgb(230, 242, 85);
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    border-radius: 0.4rem;
    border: 0.5rem solid rgb(24, 23, 23);
    overflow: hidden;
    box-shadow: 0px 4px 20px #3E97CA;
}

#hero .hero__projects__container__project:hover {
    border: 0.4rem solid #3E97CA;
    transition: border 250ms ease-in-out;
    cursor: pointer;
}

#hero .hero__projects__container__project__poster {
    width: 100%;
}

#hero .hero__projects__container__project__title {
    margin: 1rem 0rem 0rem;
}

#hero .hero__info__list {
    color: rgb(230, 234, 235);
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;

    position: absolute;
    bottom: 3%;
    left: 0%;
    z-index: 1000;

    display: flex;
    flex-direction: column;
}

#hero .hero__info__list__item__email {
    color: rgb(230, 234, 235);
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    #cv {
        font-size: 1.75rem;
    }

    #github {
        font-size: 1.75rem;
    }

    #linkedin {
        font-size: 1.75rem;
    }

    #hero .hero__name__title {
        font-size: 5rem;
        top: 38%;
        right: 61%;
    }

    #hero .hero__projects {
        padding: 3rem 0 7rem;
    }

    #hero .hero__projects__container__project {
        font-size: 1.3rem;
    }

    #hero .hero__projects__container__project:hover {
        border: 0.3rem solid #3E97CA;
    }

    #hero .hero__info__list {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {

    #cv {
        font-size: 1.75rem;
    }

    #github {
        font-size: 1.75rem;
    }

    #linkedin {
        font-size: 1.75rem;
    }

    #hero .hero__name__title {
        font-size: 5rem;
        top: 38%;
        right: 58%;
    }

    #hero .hero__projects {
        padding: 4rem 0 8rem;
    }

    #hero .hero__projects__container__project {
        font-size: 1.25rem;
    }

    #hero .hero__projects__container__project:hover {
        border: 0.3rem solid #3E97CA;
    }

    #hero .hero__info__list {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    #hero .hero__name__title {
        font-size: 4.625rem;
        top: 37%;
        right: 62%;
    }

    #hero .hero__projects {
        padding: 3rem 0 7rem;
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    body {
        background-color: rgb(24, 23, 23);
    }

    .header {
        background-color: rgb(24, 23, 23);
        justify-content: space-evenly;
        padding: 1rem 1rem 0.75rem;
    }

    .header__list {
        gap: 328px;
    }

    #cv {
        font-size: 1.5rem;
    }

    #cv:hover {
        color: rgb(230, 234, 235);
        cursor: unset;
        transition: unset;
    }

    #github {
        font-size: 1.5rem;
    }

    #github:hover {
        color: rgb(230, 234, 235);
        cursor: unset;
        transition: unset;
    }

    #linkedin {
        font-size: 1.5rem;
    }

    #linkedin:hover {
        color: rgb(230, 234, 235);
        cursor: unset;
        transition: unset;
    }

    #hero .hero__name__title {
        font-size: 5rem;
        top: 32%;
        right: 34%;
    }

    #hero .hero__projects {
        padding: 2rem 2rem 6rem;
    }


    #hero .hero__projects__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 0rem;
    }

    #hero .hero__projects__container__project {
        width: unset;
        border: unset;
        padding: 0.75rem 0.5rem;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;
    }

    #hero .hero__projects__container__project:hover {
        border: unset;
        transition: unset;
        cursor: unset;
    }

    #hero .hero__projects__container__project__poster {
        width: 50%;
    }

    #hero .hero__projects__container__project__title {
        font-size: 1.25rem;
        margin: 0;
    }

    #hero .hero__info__list {
        font-size: 0.75rem;
    }

    #hero .hero__info__list {
        bottom: 2%;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px) {

    .header__list {
        gap: 120px;
    }

    #cv {
        font-size: 1.25rem;
    }

    #github {
        font-size: 1.25rem;
    }

    #linkedin {
        font-size: 1.25rem;
    }

    #hero .hero__name__title {
        font-size: 3.25rem;
        top: 39%;
        right: 5%;
    }

    #hero .hero__projects {
        padding: 1rem 2rem 4rem;
    }

    #hero .hero__projects__container__project__poster {
        width: 50%;
    }

    #hero .hero__projects__container__project__title {
        font-size: 0.75rem;
    }

    #hero .hero__info__list {
        font-size: 0.5rem;
    }
}