@import 'https://use.fontawesome.com/releases/v6.0.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Sulphur Point', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    margin: 0;
}

#linkedin {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
}

#linkedin:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 0.25s ease;
}

#github {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
}

#github:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 0.25s ease;
}

#cv {
    font-size: 2.5rem;
    color: rgb(230, 234, 235);
    cursor: pointer;
    transition: color 0.25s ease;
}

#cv:hover {
    color: rgb(230, 242, 85);
    cursor: pointer;
    transition: color 0.25s ease;
}

#hero {
    min-height: 100vh;
    position: relative;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero .hero__name {
    border-bottom: 4px solid rgb(230, 242, 85);
}

#hero .hero__name__title {
    color: rgb(230, 234, 235);
    font-weight: bold;
    font-size: 7rem;
    margin: 0;
    top: 38%;
    right: 62%;
    position: absolute;
    z-index: 1000;
}

#hero .hero__projects {
    background-color: rgba(24, 24, 32, 0.8);
    color: rgb(230, 234, 235);
    width: 100%;
    list-style-type: none;
    padding: 3rem 0 10rem;
    padding-left: 0;
    border-top: solid 0.125rem rgb(230, 242, 85);

    position: absolute;
    bottom: 0%;
    z-index: 1000;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#hero .hero__projects__container {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}


#hero .hero__projects__container__project {
    width: 18vw;
    background-color: rgb(24, 23, 23);
    color: rgb(230, 242, 85);
    font-size: 1.5rem;
    padding: 6rem 2rem;
    border-radius: 0.4rem;
    border: 0.5rem solid rgb(24, 23, 23);
    overflow: hidden;
    box-shadow: 0px 4px 20px #3E97CA;
}

#hero .hero__projects__container__project:hover {
    border: 0.4rem solid #3E97CA;
    transition: border 0.25s ease;
}