@import 'https://use.fontawesome.com/releases/v6.0.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url("./reset.css");
@import url("./typography.css");
@import url("./components.css");

:root {
  --color-primary: #E6F255;
  --color-white: #E6EAEB;
  --color-black: black;
  --color-light-blue: #3E97CA;
  --color-blue: #181820;
  --color-dark-blue: #181717;
  /*
  --shadow-base: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    */
}

body {
  background-color: var(--color-black);
}

/* Header */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.navigation__list {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  width: 90%;
  align-content: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 0 auto;
}

/* Hero */

#hero {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

#hero::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%);
}

#hero .img--bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#hero .hero__content {
  position: relative;
  z-index: 3;
  width: 100%;
}

#hero .hero__title {
  font-size: 2.8rem;
  font-weight: 700;
}

#hero .hero__divider {
  background-color: var(--color-primary);
  height: 1px;
}

#hero .hero__list {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

#hero .hero__item {
  background-color: var(--color-dark-blue);
  font-size: 0.75rem;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0px 4px 20px var(--color-light-blue);
  margin: 10px 0;
}

#hero .hero__item:nth-child(2n + 2) {
  margin: 0;
}

#hero .hero__poster {
  width: 100%;
}

#hero .hero__project {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#hero .hero__subtitle {
  margin: 0.5rem 0;
  color: var(--color-primary);
}

#hero .hero__info {
  position: relative;
  z-index: 3;
  width: 100%;
}

#hero .hero__info__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 0;
}

#hero .hero__info__item {
  font-size: 0.625rem;
  padding: 1px 0;
}

#hero .hero__info__item:nth-child(2n + 2) {
  padding-top: 0;
}

@media screen and (min-width: 375px) {

  #hero .hero__title {
    font-size: 3.6rem;
  }

  #hero .hero__info__item {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 425px) {
  #hero .hero__title {
    font-size: 3.8rem;
  }
}

@media screen and (min-width: 768px) {

  .navigation__list {
    padding: 1rem 0;
  }

  #hero .hero__title {
    text-align: start;
    width: 90%;
    margin: 0 auto;
    font-size: 5rem;
  }

  #hero .hero__divider {
    height: 2px;
  }


  #hero .hero__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 24px;
    width: 90%;
  }

  #hero .hero__item:nth-child(2n + 2) {
    margin: unset;
  }

  #hero .hero__item {
    margin: 105px 0;
  }

  #hero .hero__project {
    padding: 1.5rem;
  }

  #hero .hero__poster {
    max-width: 263px;
  }

  #hero .hero__subtitle {
    font-size: 1rem;
    margin: 1rem 0 0;
  }
}

@media screen and (min-width: 1024px) {

  #hero .hero__item {
    margin: 44px 0;
  }

  #hero .hero__list {
    gap: 95px;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {

  .navigation__list {
    justify-content: flex-start;
    width: 96%;
  }

  .fa-solid:hover,
  .fa-brands:hover {
    color: var(--color-primary);
    cursor: pointer;
    transition: color 250ms ease-in-out;
  }

  .navigation__item {
    padding: 0 10px;
  }

  .btn {
    font-size: 24px;
  }

  #hero .hero__list {
    gap: 98px;
    width: 60%;
  }

  #hero .hero__item {
    border-radius: 0.4rem;
    border: 0.3rem solid var(--color-dark-blue);
  }

  #hero .hero__item:hover {
    border: 0.3rem solid var(--color-light-blue);
    transition: border 250ms ease-in-out;
    cursor: pointer;
  }

  #hero .hero__info__item {
    letter-spacing: 0.125rem;
  }
}

@media screen and (min-width: 1366px) {
}


@media screen and (min-width: 1440px) {
  #hero .hero__item {
    margin: 80px 0;
  }
}

@media screen and (min-width: 1980px) {
  #hero .hero__item {
    margin: 45px 0;
  }
}
