@import 'https://use.fontawesome.com/releases/v6.0.0/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("./reset.css");
@import url("./typography.css");
@import url("./components.css");

:root {
  --color-primary: #dcc028;
  --color-secondary: #707070;
  --color-white: #E6EAEB;
  --color-black: #000000;
}

body {
  background-color: var(--color-black);
}

/* Header */

#header {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-content: center;
  z-index: 9999;
}

#header .logo {
  width: 60px;
}

.navigation__wrapper {
  display: none;
}

/* Hero */

#hero {
  min-height: 100vh;
  position: relative;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

#hero .hero__content {
  z-index: 1;
}

#hero .img--deco {
  position: absolute;
  bottom: 6%;
  left: -46%;
  width: 109%;
  transform: rotate(11deg);
  z-index: -1;
}

#hero .hero__wrapper--about {
  width: 86%;
  margin: 0 auto;
  text-align: start;
  font-weight: 900;
}

#hero .hero__wrapper--heading {
  margin: 1rem 0;
}

#hero .hero__subtitle {
  margin-bottom: 1rem;
}


#hero .hero__divider {
  background-color: var(--color-primary);
  height: 1px;
}

#hero .hero__wrapper--desc {
  display: none;
}

#hero .navigation__container {
  margin: 1rem 0;
}

#hero .navigation__list {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}


@media screen and (min-width: 375px) {

  #header .logo {
    width: 80px;
  }

  #hero .img--deco {
    bottom: 9%;
    transform: rotate(17deg);
  }
}

@media screen and (min-width: 425px) {
  #hero .img--deco {
    bottom: 15%;
    left: -44%;
    width: 123%;
    transform: rotate(37deg);
  }
}

@media screen and (min-width: 568px) {
  #hero {
    justify-content: flex-end;
  }

  #hero .img--deco {
    bottom: 68%;
    left: 42%;
    width: 80%;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) {
  #hero {
    justify-content: center;
  }

  #hero .img--deco {
    bottom: 6%;
    left: -46%;
    width: 102%;
    transform: rotate(9deg);
  }

  #hero .hero__greetings {
    font-size: 1.125rem;
  }

  #hero .hero__title {
    font-size: 5rem;
  }

  #hero .hero__subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 844px) {
  #hero .img--deco {
    bottom: 4%;
    left: -28%;
    width: 60%;
    transform: rotate(1deg);
  }
}

@media screen and (min-width: 1024px) {

  #header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1.5rem;
  }

  #header .logo {
    width: 100px;
  }

  #header .navigation__wrapper {
    display: unset;
  }

  #header .navigation__list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #hero {
    padding: unset;
  }

  #hero .img--deco {
    bottom: 6%;
    left: -25%;
    width: 62%;
    transform: rotate(8deg);
  }

  #hero .hero__content {
    width: 60%;
    padding: 5rem;
  }


  #hero .hero__wrapper--about {
    width: 100%;
    margin: 0;
  }

  #hero .hero__subtitle {
    margin-bottom: 0.25rem;
  }

  #hero .hero__wrapper--desc {
    display: unset;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #hero .hero__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem;
    gap: 15px;
  }

  #hero .hero__description {
    text-align: start;
    color: var(--color-secondary);
    font-weight: 700;
  }

  #hero .navigation__container {
    display: none;
  }
}

@media screen and (min-width: 1200px) {

  #header .logo {
    width: 120px;
  }


  .fa-solid:hover,
  .fa-brands:hover {
    color: var(--color-primary);
    cursor: pointer;
    -webkit-transition: color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
  }

  #hero .img--deco {
    left: -29%;
    transform: rotate(7deg);
  }

  #hero .hero__greetings {
    font-size: 1.5rem;
  }

  #hero .hero__title {
    font-size: 5.5rem;
  }

  #hero .hero__subtitle {
    font-size: 1.75rem;
  }

  #hero .hero__description {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1366px) {
  #header .logo {
    width: 140px;
  }

  .btn {
    font-size: 30px;
  }

  #hero .img--deco {
    transform: rotate(6deg);
  }
}

@media screen and (min-width: 1440px) {
  #hero .img--deco {
    transform: rotate(5deg);
  }
}

@media screen and (min-width: 1920px) {

  #header .logo {
    width: 200px;
  }

  .btn {
    font-size: 40px;
  }

  #hero .img--deco {
    transform: rotate(6deg);
  }

  #hero .hero__greetings {
    font-size: 1.75rem;
  }

  #hero .hero__title {
    font-size: 7rem;
  }

  #hero .hero__subtitle {
    font-size: 2rem;
  }

  #hero .hero__description {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2560px) {

  #header .logo {
    width: 300px;
  }

  .btn {
    font-size: 50px;
  }

  #hero .img--deco {
    transform: rotate(6deg);
  }

  #hero .hero__greetings {
    font-size: 2rem;
  }

  #hero .hero__title {
    font-size: 9rem;
  }

  #hero .hero__subtitle {
    font-size: 2.25rem;
  }

  #hero .hero__description {
    font-size: 1.75rem;
  }
}